.nav {
  background-color: #1f2235;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  right: 0;
}

.nav button {
  background-color: #1f2235;
  border: none;
}

.nav img {
  width: 2rem;
  cursor: pointer !important;
  user-select: none;
}

.nav h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins";
  white-space: nowrap !important;
  cursor: pointer !important;
}

.nav h2 span {
  color: #ff4a57;
  font-size: 1.3rem;
}

.nav_expanded {
  background-color: #1f2235;
  width: 100%;
  height: 230px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.navOpen {
  animation: openNav 1s ease-out forwards;
}

@keyframes openNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(63%);
  }
}

.navClose {
  animation: closeNav 1s linear forwards;
}

@keyframes closeNav {
  0% {
    opacity: 1;
    transform: translateY(63%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.nav_expanded__slide {
  background-color: #23263a;
  width: 80%;
  height: 190px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav_expanded__slide li {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  transition: color linear 0.2s;
}

.nav_expanded__slide li:hover {
  color: #ff4a57;
}

@media (max-width: 650px) {
  .nav_expanded__slide {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .nav {
    width: 550px;
  }
  .nav_bar {
    justify-content: center;
  }
  .nav_expanded {
    width: 550px;
  }
  /* .nav_expanded__slide {
    width: 450px;
  } */
}
