.blog {
  width: 100%;
  height: 2800px;
  background-color: #1f2235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin-top: -500px;
}

.blog h1 {
  color: white;
  font-family: "iranSans";
  font-size: 2.3rem;
  white-space: nowrap;
  font-weight: bold;
}

.blog_detail {
  width: 300px;
  padding: 8px;
  border-radius: 10px;
  background-color: #23263a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog_detail a {
  text-decoration: none;
  color: white;
  font-family: "iranSans";
  font-size: 1rem;
  transition: color linear 0.3s;
}

.blog_detail a:hover {
  color: #ff4a57;
}

.blog_detail time {
  color: #ff4a57;
  font-family: "iranSans";
  font-size: 0.9rem;
}

.blog_headerImg img {
  object-fit: fill;
  width: 900px;
  height: 500px;
  border-radius: 2%;
  margin-bottom: 400px;
}

.blog_article {
  width: 900px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog_article p {
  color: white;
  font-family: "iranSans";
  font-size: 1.1rem;
  text-align: justify;
}

.blog_article h2 {
  color: #ff4a57;
  font-family: "iranSans";
  font-size: 1.3rem;
  text-align: right !important;
}

.blog_mainImg img {
  object-fit: cover;
  width: 900px;
  height: 500px;
  border-radius: 2%;
  margin-bottom: 100px;
}

.blog_article__navIcons {
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  background-color: #23263a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.blog_article__navIcons div {
  width: 100%;
  height: 100%;
  transition: background-color linear 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rdiv {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.Ldiv {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

.bloglink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_article__navIcons div:hover {
  background-color: #ff4a57;
}

@media (max-width: 1100px) {
  .blog {
    height: 3000px;
  }
  .blog_header {
    width: 700;
    margin-top: -600px;
  }
  .blog h1 {
    font-size: 1.9rem;
    white-space: normal;
    text-align: center;
  }
  .blog_headerImg img {
    width: 700px;
    margin-bottom: 550px;
  }
  .blog_article {
    width: 700px;
  }
  .blog_mainImg img {
    width: 700px;
  }
}

@media (max-width: 750px) {
  .blog {
    height: 3900px;
  }
  .blog_header {
    width: 400px;
    margin-top: -1000px;
  }
  .blog h1 {
    font-size: 1.8rem;
    width: 400px;
  }
  .blog_headerImg img {
    width: 400px;
    height: 400px;
    margin-bottom: 1000px;
  }
  .blog_article {
    width: 400px;
  }
  .blog_mainImg img {
    width: 400px;
  }
}
